body, html {
    position: relative;
    margin: 0;
    padding: 0;
    background: #4776E6; /* fallback for old browsers */
    height:100%;
    background-attachment: fixed;
    transition: background 1.5s ease-in-out;
    -webkit-animation: bg 30s infinite;
    -moz-animation: bg 30s infinite;
    -o-animation: bg 30s infinite;
    animation: bg 30s infinite;
}

@-webkit-keyframes bg {
    0%, 100% {
        background: #3498db;
    }
    20% {
        background: #2980b9;
    }
    40% {
        background: #8e44ad;
    }
    60% {
        background: #9b59b6;
    }
    80% {
        background: #3498db;
    }
}

@-moz-keyframes bg {
    0%, 100% {
        background: #3498db;
    }
    20% {
        background: #2980b9;
    }
    40% {
        background: #8e44ad;
    }
    60% {
        background: #9b59b6;
    }
    80% {
        background: #3498db;
    }
}

@-o-keyframes bg {
    0%, 100% {
        background: #3498db;
    }
    20% {
        background: #2980b9;
    }
    40% {
        background: #8e44ad;
    }
    60% {
        background: #9b59b6;
    }
    80% {
        background: #3498db;
    }
}

@keyframes bg {
    0%, 100% {
        background: #3498db;
    }
    20% {
        background: #2980b9;
    }
    40% {
        background: #8e44ad;
    }
    60% {
        background: #9b59b6;
    }
    80% {
        background: #3498db;
    }
}


#gameCanvas {
    border: outset 7px #5a3696;
    border-radius: 3%;
    margin-bottom:10px;
}

.font {
    color:white;
    font-family: sans-serif;
}

.paragraph {
    font-size: 21px;
}

.footer {
    font-size: 12px;
    font-style:italic;
}
h1, p {
    color: rgba(255, 255, 255, 0.67);
}
h1 {
    padding-top: 10px;
    margin-bottom: 0;
}

p {
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    color: lightgoldenrodyellow;
}

a:hover {
    font-size: 13px;
}
